
<!-- <div *ngIf="islogin" id="menu-container">    
  <nav mat-tab-nav-bar >
    <div
      mat-tab-link
      *ngFor="let category of categoryArray; let idx = index;"
      [routerLink] = "category.path"    
      (click) = "menuControl(idx,$event)"
      class="main-menu"
    >
    <div ng-bind="category.icon"></div>
    <label class="main-menu-label">
      {{ category.category }} 
    </label>
    
  </div>
  </nav>
</div> -->
<div class="top-bar">
  <div class="top-bar-menu-container">
    <div class="top-bar-menu-item" *ngIf="islogin">
      <button style="border:0px solid;" (click)="dropdown()">
        메뉴
      </button>
      <div class="dropdown-menu" id="menu-dropdown">
        <a mat-tab-link class="dropdown-item" [routerLink]="['main']" (click)="menuControl(0,$event)">홈</a>
        <a mat-tab-link class="dropdown-item" [routerLink]="['customer']" (click)="menuControl(1,$event)">고객관리</a>        
      </div>
    </div>
    <div class="top-bar-menu-item">
      로그인 
    </div>
    <div class="top-bar-menu-item">
      도움말
    </div>
  </div>
</div>

<div *ngIf="islogin" id="menu-container">    
  <nav mat-tab-nav-bar >
    <div
      mat-tab-link
      [routerLink]="['main']" 
      (click)="menuControl(0,$event)"
      class="main-menu"
    >
    
    <label class="main-menu-label">
      홈
    </label>
    
  </div>
  <div
      mat-tab-link      
      [routerLink]="['customer']" 
      (click)="menuControl(1,$event)"
      class="main-menu"
    >
     
      <label class="main-menu-label">
        고객관리
      </label>
      
    </div>
  </nav>
</div>
  <div class="app-wrapper">
    <router-outlet></router-outlet>
  </div>

  <script>
    console.log($(window));
  </script>
