.deam{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.6);
}
#add-customer {
    position:absolute;
    width:50%;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background-color: white;
    border:1px solid;
    border-radius: 25px;
    max-width:500px;
}

button:focus,input[type="button"]{
    outline:0 !important;
}

.add-customer-section-input{
    width:85%;
}

.category{
    width: 50% !important;
    display:inline-block !important;
}

#surgery_menu {
    position:absolute;
    width:50%;
    height:60%;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background-color: white;
    border:1px solid;
    border-radius: 25px;
    max-width:1000px;
    max-height:1000px;
}

#surgery_menu .modal-body{
    height:70%;
}

.pageNationDiv{
    position:relative;
}

.pagination{
    position:absolute;
    left:50%;
    transform:translateX(-50%);
}

.numbering{
    width:33.81px;
    height:38px;
}

.numbering .page-link{
    width:34.8px;
    height:38px;
}
